<header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/products/">Products</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/contact">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/contact2">Contact 2</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/notFound">Not Found</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/buy-products/">Buy Products</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>