<!-- interpolation
<p>
    My name is {{dynName}}
</p>
<br><br>
{{4+5}}
<br><br>
{{"Welcome"+dynName}}
<br><br>
{{dynName.length}}
<br><br>
{{dynName.toUpperCase()}}
<br><br>
{{myMethod()}}
<br><br>
My app status is {{appStatus? "Online" : "Offline"}}
<br><br>
My app status is {{appStatus? status1 : status2}} -->

<!-- -----------------property----------------- -->

<!-- <input type="text" [value]="dynName">
<br><br>
<input type="text" bind-value="dynName"> -->


<input type="text" [disabled]="enable" name="" bind-value="dynName"> 
<br><br>
<input type="text" [hidden] ="!enable" name="" bind-value="dynName">
<br><br>
<input type="text"  name="" [value]="appStatus? status1 : status2"> 



